{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <a href="{{ object.path }}" target="_blank"><strong>{{ object.path }}</strong></a>
    </div>
{% endblock %}