<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('createMonthlyAreaSum') }}">
        <i class="fas fa-plus-circle"></i> {{ 'create_monthly_area_sum_action'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>