<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('createYearly') }}">
        <i class="fas fa-plus-circle"></i> {{ 'create_yearly_action'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>