
.calendar-table {
	margin: 10px;
	width: 90%;
}
.calendar-table .day {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
.calendar-table,
.calendar-table th,
.calendar-table td
{
	border: 1px solid black;
}

.green {
	background-color: green;
}
.green a {
	color: white;
}
.red {
	background-color: red;
}
.red a {
	color: white;
}
.orange {
	background-color: orange;
}
.orange a {
	color: white;
}
.grey {
	background-color: grey;
}